SUBSYSTEM=="serio", DRIVERS=="psmouse", KERNEL=="serio2", ATTR{sensitivity}="192"
SUBSYSTEM=="serio", DRIVERS=="psmouse", KERNEL=="serio2", ATTR{speed}="128"
